@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla:EDPT@71&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&family=Quintessential&display=swap');body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,126,110,1) 53%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
  text-align: center;
}

h1{
  text-align: center;
  margin-top: 140px;
  font-family: "Poiret One", serif;
  font-weight: 800;
  font-style: normal;

}

.selectors{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

